
.anamnese {
  background-image: url('img/fundofinal.png');
  background-color: #ffffff;
  /* cor de backup */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* centraliza vertical e horizontalmente */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.historico {
    text-align: start;
    font-weight: bold;
    position: absolute;
    width: 420px;
    height: 90px;
    left: 50px;
    top: 40px;

    background-color: #00CC8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.lapis {
    width: 17px;
    top: 200px;
    position: relative;
    left: 230px;
}
.medicamentos{
    text-align: start;
    font-weight: bold;
    position: absolute;
    width: 420px;
    height: 90px;
    left: 600px;
    top: 40px;

    background-color: #00CC8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}
.lapis2{
    width: 17px;
    top:200px;
    position: relative;
    left: 955px;
}
.peso{
    text-align: center;
    font-weight: bold;
    position: absolute;
    width: 120px;
    height: 50px;
    left: 50px;
    top: 180px;

    background-color: #00CC8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}
.score{
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 185px;
    top: 160px

}


.sc1{
    width: 300px;
    height: 45px;
    position: absolute;
    left: 200px;
    top: 200px;
    font-weight: bold;
}
.sc2{
    width: 300px;
    height: 45px;
    position: absolute;
    left: 490px;
    top: 442px;
    font-weight: bold;
}

.sc3{
    width: 300px;
    height: 45px;
    position: absolute;
    left: 500px;
    top: 442px;
    font-weight: bold;
}

.sc4{
    width: 300px;
    height: 45px;
    position: absolute;
    left: 510px;
    top: 442px;
    font-weight: bold;
}

.sc5{
    width: 300px;
    height: 45px;
    position: absolute;
    left: 520px;
    top: 450px;
    font-weight: bold;
}
#geral{
  
    width: 300px;
    height: 45px;
    position: absolute;
    left: 360px;
    top:0px;
    font-weight: bold;
}
.fundo-verde1 {
    background-color: #00cc8f;
    position: absolute;
    top: 250px;
    border-radius: 8px;
    left: 100px;
  }
  #obs1 {
    position: absolute;
    top: 10px;
    left: 740px;
  }

  #obs2 {
    position: absolute;
    top: 80px;
    left: 740px;
  }
  #obs3 {
    position: absolute;
    top: 150px;
    left: 740px;
  }
  #obs4 {
    position: absolute;
    top: 220px;
    left: 740px;
  }
  #obs5 {
    position: absolute;
    top: 290px;
    left: 740px;
  }
  #obs6 {
    position: absolute;
    top: 370px;
    left: 740px;
  }

  #volta6 {
    text-decoration: none;
    position: absolute;
    left: 800px;
    top: -80px;
    font-size: 32px;
    background-color: #00CC8F;
    border-radius: 15px;
    height: 40px;
    width: 130px;
    color:black;
  }
